                                             DATA TYPE AND STRUCTURE QUESTIONS
1. WHAT ARE DATA STRUCTURES, AND WHY ARE THEY IMPORTANT?
-> Data sturctures are ways of organising and storing data so that i can be acessed and manipulate. they are important because they amke it easier to manage,search and process data. for example like lists, dictonaries and sets in python data structures

2. EXPLAIN THE DIFFERENCE BETWEEN MUABLE AND IMMUTABLE DATA TYPES WITH EXAMPLES?
-> Mutable: Can be changed after creation. Example: lists → my_list = [1,2,3]; you can add or remove elements.

Immutable: Cannot be changed once created. Example: strings → "hello" cannot be modified; instead, a new string is created if changed.

3. What are the main differences between lists and tuples in Python?
-> List: Mutable, you can add, remove, or change elements. Example: [1, 2, 3].

Tuple: Immutable, cannot be changed once created. Example: (1, 2, 3).
Tuples are faster and safer for fixed data.

4. Describe how dictionaries store data.
-> Dictionaries store data in key–value pairs. Each key must be unique, and it points to a value. Example:

student = {"name": "Paridhi", "age": 20}
Here, "name" is a key and "Paridhi" is its value.

5. Why might you use a set instead of a list in Python?
-> A set is used when you want unique items only and don’t care about order. Example:
{1, 2, 2, 3} → automatically becomes {1, 2, 3}.
They are also faster for checking if something exists

6. What is a string in Python, and how is it different from a list?
-> A string is a sequence of characters, like "hello".
A list is a sequence of items that can include numbers, strings, or even other lists.
Strings are immutable, but lists are mutable.

7. How do tuples ensure data integrity in Python?
-> Tuples are immutable, which means once you create them, their values cannot be changed. This ensures that important data remains safe and cannot be accidentally modified in the program.

8. What is a hash table, and how does it relate to dictionaries in Python?
-> A hash table is a data structure that stores data in key–value form and uses a hash function to quickly find the value for a given key. In Python, dictionaries are built using hash tables internally.

9. Can lists contain different data types in Python?
Yes, lists can contain different data types. 
for example:

In [ ]:
#9 exmaple
mixed = [1, "hello", 3.5, True]
mixed

This is allowed because python are flexible

10. Explain why strings are immutable in Python.
-> Strings are immutable because once created, their value cannot change. This design makes strings more secure, efficient, and reliable when used in programs.

11.. What advantages do dictionaries offer over lists for certain tasks?
-> Dictionaries allow fast lookups using keys instead of searching through the whole list. They are better when you need to connect a unique label (key) to a value, like mapping student names to their marks.

12. Describe a scenario where using a tuple would be preferable over a list.
-> If you want to store fixed information that should not change, a tuple is better. Example: employee id(12365, 22345, 66890) since those values shouldn’t be modified accidentally.

13. How do sets handle duplicate values in Python?
-> Sets automatically remove duplicates. If you add the same value multiple times, it will only keep one copy. Example:

In [ ]:
#13 example
sets = {1, 2, 2, 3, 4, 4, 5}
sets

14. How does the “in” keyword work differently for lists and dictionaries?
-> In a list, "in" checks if an element is present in the sequence.
but In a dictionary, "in" checks only the keys, not the values. Example:

In [7]:
#14example
fruits = ["apple", "mango", "banana", "orange"]
print("apple" in fruits)

True

In [10]:
intro = {"name" : "paridhi", "age" : 20}
print("name" in intro)

True

In [11]:
intro = {"name" : "paridhi", "age" : 20}
print("paridhi" in intro)

False

15. Can you modify the elements of a tuple? Explain why or why not.
-> No, you cannot modify a tuple because it is immutable. Once created, the elements are fixed, which helps keep the data safe and unchanged example : employee id

16. What is a nested dictionary, and give an example of its use case.
-> A nested dictionary means having a dictionary inside another dictionary. Example:

In [ ]:
students = {
  "101": {"name": "Pari", "age": 20},
  "102": {"name": "Raj", "age": 22}
} 
#this is useful for storinng structured data like records.

17. Describe the time complexity of accessing elements in a dictionary.
-> Accessing elements in a dictionary is on average O(1), meaning it takes constant time regardless of size, because it uses a hash table internally.

18. In what situations are lists preferred over dictionaries?
-> Lists are better when you just need an ordered collection of items and don’t need unique keys. For example, storing a shopping list or numbers in sequence

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-> Dictionaries don’t store elements by position like lists; they store them by hash of keys. That means you can’t rely on the order of items (though in Python 3.7+, insertion order is preserved, but logically they are still key-based). Retrieval is always by key, not index.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
-> List: Retrieve items by index → my_list[0] gives first element.
 Dictionary: Retrieve items by key → my_dict["name"] gives value linked to "name

In [ ]:
                                              PRACTICAL QUESTIONS

In [17]:
#1. write a code to create a string with your name and print it
name = 'paridhi'
name

'paridhi'

In [18]:
#2. write a code to find the length of the string 'hello world'
str = 'hello world'
len(str)

11

In [19]:
#3.write a code to slice the first three characters from the string 'python programming'
text = 'python programming'
print(text[:3])

pyt

In [20]:
#4.write a code to convert the string 'hello' to uppercase
text = 'hello'
print(text.upper())

HELLO

In [21]:
#5.write a code to replace the word apple with orange in the string i like apple
str = "i like apple"
print(str.replace("apple", "orange"))

i like orange

In [22]:
#6.write a code to create a list with numbers 1 to 5 and print it
list = [1, 2, 3, 4, 5]
list

[1, 2, 3, 4, 5]

In [3]:
#7.write a code to append the number 10 to the list
number = [1, 2, 3, 4, 5]
number.append(10)
print(number)

[1, 2, 3, 4, 5, 10]

In [6]:
#8.write a code to remove the number from the list[1,2,3,4,5]
num = [1, 2, 3, 4, 5,]
num.remove(3)
print(num)

[1, 2, 4, 5]

In [7]:
#9.write a code to access the second elemnet inn the list[['a','b','c','d']
list = ["a", "b", "c" , "d"]
list[1]

'b'

In [9]:
#10. write a code to reverse the list[10,20,30,40,50]
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [10]:
#11. writa a code to create a tuple with the elemnets 100,200,300 and print it
tuple = (100, 200 , 300)
tuple

(100, 200, 300)

In [12]:
#12. write a code to access the second to last elemnt of the tuple("red", "green", "blue", "yellow")
colors = ("red", "green", "blue", "yellow")
print(colors[-2])

blue

In [15]:
#13. write a code to finnd the minimum number in the tuple(10,20,5,15)
num = (10, 20, 5, 15)
print(min(num))

5

In [18]:
#14 find the index of the element "cat" in the tuple ("dog", "cat" , "rabbit")
animals = ("dog" , "cat" , "rabbit")
print(animals.index("cat"))

1

In [20]:
#15 write a code to create tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "mango" , "kiwi")
print("kiwi" in fruits)

True

In [21]:
#16.create a set with the elements "a", "b", "c" and print it
set = {"a" , "b" , "c"}
set

{'a', 'b', 'c'}

In [22]:
#17. clear all the elements from the set{1,2,3,4,5}
set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [23]:
#18. remove the element 4 from  the set {1,2,3,4}
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [24]:
#19. find the union of two sets{1,2,3} and {3,4,5}
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [25]:
#20 find the intersection of two sets {1,2,3} and {2,3,4}
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [26]:
#21.write acode to create a dictionary with the keys "name", "age" ,and "city" and print it
person = {
    "name": "Paridhi",
    "age": 20,
    "city": "ratlam"
}
print(person)

{'name': 'Paridhi', 'age': 20, 'city': 'ratlam'}

In [27]:
#22.Write a code to access the value of the key "age" from the dictionary.
person = {"name": "Pari", "age": 20, "city": "Delhi"}
print(person["age"])

20

In [28]:
#23.write a code to change the city to mumbai in the dictionary
person = {"name": "Paridhi", "age": 20, "city": "ratlam"}
person["city"] = "Mumbai"
print(person)

{'name': 'Paridhi', 'age': 20, 'city': 'Mumbai'}

In [29]:
#24.write a code to add a new key "country" with the value "india" to the dictionary
person = {"name": "Paridhi", "age": 20, "city": "ratlam"}
person["country"] = "India"
print(person)

{'name': 'Paridhi', 'age': 20, 'city': 'ratlam', 'country': 'India'}

In [30]:
#25. writa a code to remove the key "age" from the dictionary
person = {"name": "Paridhi", "age": 20, "city": "ratlam"}
person.pop("age")
print(person)

{'name': 'Paridhi', 'city': 'ratlam'}

In [31]:
#26. write a code to get all the keys from a dictionary
person = {"name": "Paridhi", "age": 20, "city": "ratlam"}
print(person.keys())

dict_keys(['name', 'age', 'city'])

In [32]:
#27. write a code to get all the values from a dictionary
person = {"name": "Paridhi", "age": 20, "city": "ratlam"}
print(person.values())

dict_values(['Paridhi', 20, 'ratlam'])

In [33]:
#28. write a code to check if the key "name" exists in the dictionary.
person = {"name": "Paridhi", "age": 20, "city": "ratlam"}
print("name" in person)

True

In [35]:
#29.write a code to loop through the dictionary and print all the keys and values
person = {"name": "Paridhi", "age": 20, "city": "ratlam"}
for key, value in person.items():
    print(key, ":", value)

name : Paridhi
age : 20
city : ratlam

In [36]:
#30. write a code to create a nested dictionary for two students with thier name and age.
students = {
    "101": {"name": "Paridhi", "age": 20},
    "102": {"name": "Raj", "age": 22}
}
print(students)

{'101': {'name': 'Paridhi', 'age': 20}, '102': {'name': 'Raj', 'age': 22}}